@font-face {
  font-family: "Noir_Regular";
  src: url("../fonts/Noir_regular.otf") format("opentype");
}

@font-face {
  font-family: "Noir_Medium";
  src: url("../fonts/Noir_medium.otf") format("opentype");
}
// Default Colour Scheme
$noir-black: #0e1111; // background
$noir-grey-1: #232b2b;
$noir-grey-2: #353839; // gradient
$noir-grey-3: #4c4f4f;
$noir-grey-4: #5e6161;
$noir-grey-5: #6e7171; // box shadow haze
$noir-highlight: #a3a6a6; //highlight
$noir-white: #e8e8e8; // text
$deco-gold: #b0903d; // deco

// Default Font Sizes
$base-font-size: 18px;

// Default Font Family
$default-font-family: "Noir_Regular", sans-serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$font-family-heading: "Noir_Medium", sans-serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

// Form Element Styling

// Spacing and Padding
$default-line-height: 1.5;
$default-spacing: 1rem;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $default-spacing;
}

body {
  // set background color as gradient from noir-black to noir-highlight
  background: linear-gradient(to bottom, $noir-black, $noir-grey-2);
}

body,
html {
  width: 95%;
  color: $noir-white;
  margin: 0 auto;
  font-family: $default-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-kerning: 5px;
}

h1 {
  font-size: 4rem;
  margin: $default-spacing 0;
  padding: 0;
  text-shadow: 0 0 50px $noir-grey-5;
  & .no-haze {
    text-shadow: none;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

strong {
  font-family: $font-family-heading;
}

code {
  display: flex;
  flex-direction: column;
  flex-wrap: row-wrap;
  background-color: $noir-highlight;
  color: $noir-grey-1;
  width: 50%;
  margin: 0 auto;
  padding: $default-spacing;
  box-shadow: 0 0 10px 0 $noir-grey-5;
  overflow: auto;
}

code::before {
  content: "HTML Example";
  font-weight: bold;
}

a {
  color: $deco-gold;
  text-decoration: 1px underline $deco-gold;
  text-underline-offset: 5px;
  text-underline-position: below;
}

a:hover {
  color: $noir-white;
  text-decoration: 1px underline $noir-white;
}

a:visited {
  color: $noir-highlight;
  text-decoration: 1px underline $noir-highlight;
}

.navbar {
  @include flexCenter(row);
  width: 95%;
  padding: $default-spacing;
  font-family: $font-family-heading;
}

.navbar ul {
  @include flexCenter(row);
  width: 100%;
  list-style: none;
  justify-content: space-around;
  border-top: 1px solid $noir-grey-5;
  border-bottom: 1px solid $noir-grey-5;
}

.navbar ul:last-child {
  justify-self: flex-end;
}
.navbar li {
  margin: $default-spacing;
}

.navbar ul li a {
  color: $noir-white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: $deco-gold;
}

.title {
  @include flexCenter(column);
  width: 100%;
  font-size: 6rem;
  text-shadow: 0 0 15px $noir-grey-5;
  margin-top: calc($default-spacing * 2);
  margin-bottom: 0;
}

.color-grid {
  @include grid(5);
}

.bordered {
  border: 15px solid transparent;
  outline: 1px solid $noir-white;
  outline-offset: -10px;
  background: linear-gradient($noir-white 0 0) top,
    linear-gradient($noir-white 0 0) left,
    linear-gradient($noir-white 0 0) bottom,
    linear-gradient($noir-white 0 0) right;
  background-size: 200% 1px, 1px 200%;
  background-origin: padding-box;
  background-repeat: no-repeat;
  padding: $default-spacing;
}

.page-footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-footer ul {
  list-style: none;
  padding: 0;
}

button {
  background: transparent;
  outline: none;
  border: 1px solid $noir-white;
  padding: calc($default-spacing / 1.5);
  color: $noir-white;
  font-family: "Noir_Medium", sans-serif;
  text-transform: uppercase;
  box-shadow: 0 0 10px 0 $noir-grey-5;
}

.danger {
  border: 1px solid $deco-gold;
  color: $deco-gold;
  box-shadow: 0 0 10px 0 $deco-gold;
}

.action {
  background-color: $noir-white;
  color: $noir-black;
  box-shadow: 0 0 10px 0 $noir-grey-5;
}

button:hover {
  background: $noir-white;
  color: $noir-black;
  cursor: pointer;
}

button.danger:hover {
  background: $deco-gold;
  color: $noir-black;
}

button.action:hover {
  background: $noir-black;
  color: $noir-white;
}

form {
  padding: $default-spacing;
}

form input,
textarea {
  width: 100%;
  margin: $default-spacing 0;
  padding: $default-spacing;
  border: 1px solid $noir-white;
  background: transparent;
  color: $noir-white;
  font-family: $default-font-family;
  font-size: 1.25rem;
  outline: none;
  box-shadow: 0 0 10px 0 $noir-grey-5;
}

form input:focus,
textarea:focus {
  border: 1px solid $deco-gold;
}

form label {
  font-size: 1.5rem;
  margin: $default-spacing 0;
}
