@font-face {
  font-family: "Noir_Regular";
  src: url("../fonts/Noir_regular.otf") format("opentype");
}

@font-face {
  font-family: "Noir_Medium";
  src: url("../fonts/Noir_medium.otf") format("opentype");
}
// Default Colour Scheme
$noir-black: #0e1111;
$noir-grey-1: #232b2b;
$noir-grey-2: #353839;
$noir-grey-3: #4c4f4f;
$noir-grey-4: #5e6161;
$noir-grey-5: #6e7171;
$noir-highlight: #a3a6a6;
$noir-white: #e8e8e8;
$deco-gold: #b0903d;

// Default Font Sizes
$base-font-size: 18px;

// Spacing and Padding
$default-line-height: 1.5;
$default-spacing: 1rem;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

body {
  // set background color as gradient from noir-black to noir-highlight
  background: linear-gradient(to bottom, $noir-black, $noir-grey-2);
}

body,
html {
  width: 95%;
  color: $noir-white;
  margin: 0 auto;
  font-family: "Noir_Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noir_Medium", sans-serif;
  font-kerning: 5px;
}

h1 {
  font-size: 4rem;
  margin: $default-spacing 0;
  padding: 0;
  text-shadow: 0 0 15px $noir-grey-5;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-family: "Noir_Medium", sans-serif;
  font-size: 1.25rem;
}

code {
  display: flex;
  flex-direction: column;
  flex-wrap: row-wrap;
  background-color: $noir-highlight;
  color: $noir-grey-1;
  width: 50%;
  margin: 0 auto;
  padding: $default-spacing;
  box-shadow: 0 0 10px 0 $noir-grey-5;
  overflow: auto;
}

code::before {
  content: "HTML Example";
  font-weight: bold;
}

.navbar {
  @include flexCenter(row);
  width: 100%;
  padding: $default-spacing;
  font-family: "Noir_Medium", sans-serif;
}

.navbar ul {
  @include flexCenter(row);
  width: 100%;
  list-style: none;
  justify-content: space-around;
  border-top: 1px solid $noir-grey-5;
  border-bottom: 1px solid $noir-grey-5;
}

.navbar ul:last-child {
  justify-self: flex-end;
}
.navbar li {
  margin: $default-spacing;
}

.navbar ul li a {
  color: $noir-white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: $deco-gold;
}

.title {
  @include flexCenter(column);
  width: 100%;
  font-size: 6rem;
  text-shadow: 0 0 15px $noir-grey-5;
  margin-top: calc($default-spacing * 2);
  margin-bottom: 0;
}

section:nth-child(odd) {
  border: 15px solid transparent; /* control the offset of the lines */
  outline: 1px solid $noir-white; /* adjust the 2px here */
  outline-offset: -10px; /* control the offset of the rectangle */
  background: linear-gradient($noir-white 0 0) top,
    linear-gradient($noir-white 0 0) left,
    linear-gradient($noir-white 0 0) bottom,
    linear-gradient($noir-white 0 0) right;
  background-size: 200% 1px, 1px 200%; /* adjust the 2px here */
  background-origin: padding-box;
  background-repeat: no-repeat;
  padding: $default-spacing;
}

.page-footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-footer ul {
  list-style: none;
  padding: 0;
}
