@font-face {
  font-family: "Noir_Regular";
  src: url("../fonts/Noir_regular.otf") format("opentype");
}

@font-face {
  font-family: "Noir_Medium";
  src: url("../fonts/Noir_medium.otf") format("opentype");
}

// Default Font Sizes
$base-font-size: 20px;

// Default Font Family
$default-font-family: "Noir_Regular", sans-serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$font-family-heading: "Noir_Medium", sans-serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

// Spacing and Padding
$default-line-height: 1.5;
$default-spacing: 1rem;

@mixin borderBackground($backgroundColor: var(--background)) {
  border: calc($default-spacing + 5px) solid transparent;
  outline: 1px solid var(--text);
  outline-offset: -$default-spacing;
  background-size: 200% 1px, 1px 200%;
  background-origin: padding-box;
  background-repeat: no-repeat;
  padding: $default-spacing;
  background: linear-gradient(var(--text) 0 0) top,
    linear-gradient(var(--text) 0 0) left,
    linear-gradient(var(--text) 0 0) bottom,
    linear-gradient(var(--text) 0 0) right, #{$backgroundColor}; // Set background color here
  background-size: 200% 1px, 1px 200%;
  background-origin: padding-box;
  background-repeat: no-repeat;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $default-spacing;
}

body {
  background: linear-gradient(to bottom, var(--background), var(--shade-3));
}

body,
html {
  width: 95%;
  color: var(--text);
  margin: 0 auto;
  font-family: $default-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-kerning: 5px;
  margin: $default-spacing;
}

h1 {
  font-size: 4rem;
  margin: $default-spacing;
  padding: 0;
  text-shadow: 0 0 15px var(--haze);
  & .no-haze {
    text-shadow: none;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: $default-spacing;
  padding-bottom: 0;
}

.center {
  text-align: center;
}

strong {
  font-family: $font-family-heading;
}

code {
  display: flex;
  flex-direction: column;
  flex-wrap: row-wrap;
  background-color: var(--highlight);
  color: var(--shade-1);
  width: 50%;
  margin: 0 auto;
  padding: $default-spacing;
  box-shadow: 0 0 10px 0 var(--haze);
  overflow: auto;
}

code::before {
  content: "HTML Example";
  font-weight: bold;
}

section {
  margin-bottom: calc($default-spacing * 2);
}

a {
  color: var(--deco-gold);
  text-decoration: 1px underline var(--deco-gold);
  text-underline-offset: 5px;
  text-underline-position: below;
}

a:hover {
  color: var(--text);
  text-decoration: 1px underline var(--text);
}

a:visited {
  color: var(--highlight);
  text-decoration: 1px underline var(--highlight);
}

.navbar {
  @include flexCenter(row);
  padding: $default-spacing;
  font-family: $font-family-heading;
}

.navbar ul {
  @include flexCenter(row);
  width: 100%;
  list-style: none;
  justify-content: space-around;
  border-top: 1px solid var(--highlight);
  border-bottom: 1px solid var(--highlight);
}

.navbar .right {
  justify-content: flex-end;
  border: none;
}

.navbar .left {
  justify-content: flex-start;
  border: none;
}

.navbar ul:last-child li {
  margin: calc($default-spacing / 2);
}

.navbar li {
  margin: $default-spacing;
}

.navbar ul li a {
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: var(--deco-gold);
}

.title {
  @include flexCenter(column);
  width: 100%;
  font-size: 6rem;
  text-shadow: 0 0 55px var(--haze);
  margin-top: calc($default-spacing * 2);
  margin-bottom: 0;
  & .no-haze {
    text-shadow: none;
  }
}

#colors {
  margin-bottom: calc($default-spacing * 6);
}

.color-grid {
  @include grid(4);
  padding: $default-spacing;
}

.color-grid div {
  padding: $default-spacing;
}

.bordered {
  @include borderBackground(none);
}

button {
  background: transparent;
  outline: none;
  border: 1px solid var(--text);
  font-size: 1.25em;
  padding: calc($default-spacing / 1.5);
  color: var(--text);
  font-family: "Noir_Medium", sans-serif;
  text-transform: uppercase;
  box-shadow: 0 0 10px 0 var(--haze);
}

.danger {
  border: 1px solid var(--deco-gold);
  color: var(--deco-gold);
  box-shadow: 0 0 10px 0 var(--deco-gold);
}

.action {
  background-color: var(--text);
  color: var(--background);
  box-shadow: 0 0 10px 0 var(--haze);
}

button:hover {
  background: var(--text);
  color: var(--background);
  cursor: pointer;
}

button.danger:hover {
  background: var(--deco-gold);
  color: var(--background);
}

button.action:hover {
  background: var(--background);
  color: var(--text);
}

form {
  @include borderBackground(var(--background));
  padding: $default-spacing;
}

form.no-border {
  padding: $default-spacing;
  background: none;
}

form button {
  margin: 0 auto;
  display: block;
  width: 50%;
}

form input,
textarea {
  width: 100%;
  margin: $default-spacing 0;
  padding: $default-spacing;
  border: 1px solid var(--text);
  background: transparent;
  color: var(--text);
  font-family: $default-font-family;
  font-size: 1.25rem;
  outline: none;
  box-shadow: 0 0 10px 0 var(--shade-4);
}

form label {
  font-size: 1.5rem;
  margin: $default-spacing 0;
}

.form-control label {
  display: flex;
  align-items: center;
}

input[type="checkbox"],
input[type="radio"] {
  margin-left: $default-spacing;
  appearance: none; // Remove default browser styling
  width: 0.5rem;
  height: 0.5rem;
  background: var(--text);
  border: 1px solid var(--background);
  box-shadow: 0 0 10px 0 var(--shade-4);
}

input[type="checkbox"] {
  outline: none;
  position: relative;
  &:checked {
    background: var(--deco-gold);
    border: 1px solid var(--deco-gold);
  }
}

input[type="checkbox"] {
  &:checked::after {
    content: "\2717"; // Unicode for checkmark
    position: absolute;
    color: var(--text);
    font-size: 2rem;
    top: -0.25rem;
    left: 0.15rem;
  }
}

input[type="radio"] {
  border-radius: 50%;
  &:checked {
    background: var(--deco-gold);
    border: 1px solid var(--deco-gold);
  }
}

select {
  margin-left: $default-spacing;
  width: 50%;
  padding: $default-spacing;
  border: 1px solid var(--text);
  background: var(--background);
  color: var(--text);
  font-family: $default-font-family;
  font-size: 1.25rem;
  outline: none;
  box-shadow: 0 0 10px 0 var(--shade-4);
  &:focus {
    border: 1px solid var(--deco-gold);
  }
}

footer {
  @include grid(3);
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: $default-spacing;
}
